/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 100px;
    background: #30302f;
    color: cbd5f5;
    padding: 20px;
}

.sidebar a {
    display: block;
    margin: 10px 0;
    color: #cbd5f5;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    background: #2dafa6;
}